{% extends 'shop/basic.html' %}




{% block title %} About AZCURE E-COMMERCE{% endblock %}



{% block body%}
<div class="container my-3">
    <h3>Contact Us Regarding any quary</h3>
    <form action="/shop/contact/" method="post" validate>{% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">How May We Help You </label>
            <textarea class="form-control" id="desc" name="desc" rows="4" required></textarea >
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>
{% endblock %}


{% block js %}
<Script>
{% if thank %}
alert('Thanks for contacting us . We will get beck to you soon ! ')
localStorage.clear();
document.location="/shop/contact/"
{% endif %}
</Script>
{% endblock %}
